DJANGO_SECRET_KEY='XXXXXX'
AWS_USER='ciscorunning'
AWS_ACCESS_KEY_ID='XXXXXX'
AWS_SECRET_ACCESS_KEY='XXXXXX'
AWS_BUCKET_NAME='XXXXXX'
WT_TOKEN='XXXXXX'
#beta 
WT_ROOMID='XXXXXX'
#prod
#WT_ROOMID='XXXXXX'
DEBUG_PREF='True'
CECS_WHO_JOINED='alesalga,sarifern,apradoca'
MEMCACHEDCLOUD_SERVERS='a,b,c'