{% extends 'ic_marathon_app/base.html' %} {% block content %} {% load render_table from django_tables2 %}


<div class="panel panel--loose panel--raised base-margin-bottom">
    <div class="text-uppercase text-size-14">Leaderboard</div>
    <hr>
    <div class="alert alert--warning">
        <p>Please make sure to donate to our Benevity Campaign <a href="https://cisco.benevity.org/campaigns/3819">here!</a></p>
      </div>
    <div class="section no-padding">
        <div class="text-size-12 half-padding-bottom text-bold">Total KMs = {{total_kms}} </div>
    </div>
</div>

{% for table,table_c,table_title in tables%}
<div class="panel panel--loose panel--raised base-margin-bottom">
    <div class="section no-padding">
        {% if table %}
        <div class="text-size-12 half-padding-bottom text-bold">{{table_title}} ({{table_c}}) </div>
        <div style="overflow-x:auto;">{% render_table table %}</div> {% endif %}

        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>

    </div>
</div>
{% endfor %}

{% endblock %}