<!-- my_profile.html -->

{% extends 'ic_marathon_app/base.html' %} {% block title %} My Profile 
{% endblock %} {% block content %} {% load static %}

<div class="row">
  <!-- Left Column: Profile Info -->
  <div class="col-xl-4 col-lg-4">
    <div class="panel panel--loose panel--raised base-margin-bottom">
      <div class="text-uppercase text-size-14">My Profile</div>
      <hr />
      <div class="section no-padding">
        <div class="flex flex-center">
          <img class="image-size-96" src="{{user.profile.avatar}}" /><br />
        </div>
        <div class="flex flex-center">
          {% if user.first_name and user.last_name %}
          <span class="text-size-18 text-center-xs-down"
            >{{user.first_name}} {{user.last_name}} | {{user.profile.cec}}</span
          >
          {% else %}
          <span class="text-size-18 text-center-xs-down"
            >{{user.username}} | {{user.profile.cec}}</span
          >
          {% endif %}
        </div>
        <div class="flex flex-center">
          <span class="text-size-14 text-gray-700 text-capitalize"
            >Category - {% if user.profile.category == "beginnerrunner"%}
            Beginner Runner{% elif user.profile.category == "beginnerfreestyler"%}
            Beginner Freestyler{% elif user.profile.category == "advfreestyler"%}Advanced Freestyler{% else %}
            {{user.profile.category }} {% endif %}             
          </span>
        </div>
        
        <!-- Category Change Section -->
        {% if can_change_category %}
        <div class="flex flex-center base-margin-top">
          <button type="button" class="btn btn--small btn--ghost" onclick="showCategoryChangeModal()">
            <span class="icon-edit"></span> Change Category
          </button>
        </div>
        {% else %}
        <div class="flex flex-center base-margin-top">
          <span class="text-size-12 text-gray-600"
            ><em>Category already changed</em></span
          >
        </div>
        {% endif %}
        <div class="flex flex-center">
          <span class="text-size-14 text-gray-700 text-capitalize"
            >My Goal - {{user.profile.user_goal_km}}km</span
          >
        </div>

        <br />
        <div class="flex flex-center">
          <span class="badge-wrapper">
            <span class="icon-acessibility icon-size-32"></span>
            <span class="badge badge--tertiary">{{position}}</span>
          </span>
        </div>
        <div class="flex flex-center">
          <span class="text-size-14 text-gray-700 text-capitalize"
            >Current Position</span
          >
        </div>
      </div>
    </div>

    <div class="panel panel--loose panel--raised base-margin-bottom">
      <div class="text-uppercase text-size-14">REMAINING DAYS</div>
      <hr />
      <div class="section no-padding">
        <div class="flex flex-center">
          <div
            class="gauge gauge--primary"
            data-percentage="{{remaining_days_per}}"
          >
            <div class="gauge__circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
              </div>
            </div>
            <div class="gauge__inset">
              <div class="gauge__percentage">{{remaining_days}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Middle Column: Statistics & Streaks -->
  <div class="col-xl-4 col-lg-4">
    <div class="panel panel--loose panel--raised base-margin-bottom">
      <div class="text-uppercase text-size-14">My Statistics</div>
      <hr />

      <div>
        <div class="subheader">Kilometers</div>
        <div
          class="progressbar progressbar--secondary progressbar--large"
          data-percentage="{{aggr_distance_per}}"
        >
          <div class="progressbar__fill"></div>
          <div class="progressbar__label">{{aggr_distance}}</div>
        </div>

        <div class="subheader">Workouts</div>
        <div
          class="progressbar progressbar--large progressbar--success"
          data-percentage="{{workout_count}}"
        >
          <div class="progressbar__fill"></div>
          <div class="progressbar__label">{{workout_count}}</div>
        </div>
      </div>
    </div>

    <div class="panel panel--loose panel--raised base-margin-bottom">
      <div class="text-uppercase text-size-14">
        <span class="icon-flame icon-size-16"></span> Workout Streaks
      </div>
      <hr />
      
      <div class="row flex-center">
        <div class="col-xs-12 col-sm-6">
          <div class="text-center base-margin-bottom">
            <div class="flex flex-center flex-middle base-margin-bottom">
              <span class="icon-flame icon-size-48 text-secondary"></span>
            </div>
            <div class="flex flex-center">
              <span class="text-size-32 text-bold text-primary">{{user.profile.current_streak}}</span>
            </div>
            <div class="flex flex-center">
              <span class="text-size-12 text-gray-700 text-uppercase">Current Streak</span>
            </div>
            <div class="flex flex-center">
              <span class="text-size-10 text-gray-600">
                {% if user.profile.current_streak == 0 %}
                  Start a new streak!
                {% elif user.profile.current_streak == 1 %}
                  day in a row
                {% else %}
                  days in a row
                {% endif %}
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="text-center">
            <div class="flex flex-center flex-middle base-margin-bottom">
              <span class="icon-trophy icon-size-48 text-warning"></span>
            </div>
            <div class="flex flex-center">
              <span class="text-size-32 text-bold text-success">{{user.profile.longest_streak}}</span>
            </div>
            <div class="flex flex-center">
              <span class="text-size-12 text-gray-700 text-uppercase">Longest Streak</span>
            </div>
            <div class="flex flex-center">
              <span class="text-size-10 text-gray-600">
                {% if user.profile.longest_streak == 0 %}
                  Complete a workout!
                {% elif user.profile.longest_streak == 1 %}
                  personal best
                {% else %}
                  personal best
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Column: Awards -->
  <div class="col-xl-4 col-lg-4">
    <div class="panel panel--loose panel--raised base-margin-bottom">
      <div class="text-uppercase text-size-14">My Awards</div>
      <hr />
      <div class="row flex-center flex-middle">
        {% if earned_awards%} {% for award in earned_awards %}
        <img
          class="w3-round no-padding"
          height="125"
          width="125"
          src="{{ award.badge.image.url }}"
        />
        {% endfor %} {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Category Change Modal -->
<div class="modal modal-default fade" id="category-change-modal">
  <div class="modal__dialog">
    <div class="modal__content">
      <a class="modal__close" onclick="closeCategoryChangeModal()">
        <span class="icon-close"></span>
      </a>
      
      <div class="modal__header">
        <h3 class="modal__title">Change Your Category</h3>
      </div>
      
      <div class="modal__body">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        
        <div class="alert alert-warning">
          <strong>⚠️ Important Rules:</strong>
          <ul style="margin-top: 10px; margin-bottom: 0;">
            <li>You can only change your category <strong>once</strong></li>
            <li>Changes are only allowed <strong>before reaching 50km</strong></li>
            <li>Your workouts and distance will <strong>carry over</strong> to the new category</li>
            <li>You'll restart as a <strong>beginner</strong> in the new track</li>
          </ul>
        </div>
        
        <div class="alert alert-info">
          <strong>Your Progress:</strong> {{user.profile.distance}}km completed
          {% if user.profile.first_workout_date %}
            | Member since {{user.profile.first_workout_date|date:"M d, Y"}}
          {% endif %}
        </div>
        
        <form method="POST" id="categoryChangeForm">
          {% csrf_token %}
          <input type="hidden" name="change_category" value="1">
          
          <div class="form-group">
            <p class="base-margin-bottom">
              <strong>Current Category:</strong> 
              <span class="text-capitalize">
                {% if current_category_intent == "runner" %}Advanced Runner{% else %}Advanced Freestyler{% endif %}
              </span>
            </p>
            
            <label class="base-margin-bottom">Select New Category:</label>
            
            <div class="radio-group base-margin-bottom">
              <label class="radio">
                <input type="radio" name="new_category" value="runner" 
                  {% if current_category_intent == "runner" %}disabled{% endif %}>
                <span class="radio__input"></span>
                <span class="radio__label">
                  <strong>Advanced Runner</strong> - Track running activities
                  {% if current_category_intent == "runner" %}
                    <span class="text-gray-600">(Current)</span>
                  {% endif %}
                </span>
              </label>
            </div>
            
            <div class="radio-group">
              <label class="radio">
                <input type="radio" name="new_category" value="freestyler" 
                  {% if current_category_intent == "freestyler" %}disabled{% endif %}>
                <span class="radio__input"></span>
                <span class="radio__label">
                  <strong>Advanced Freestyler</strong> - Track any sport/activity
                  {% if current_category_intent == "freestyler" %}
                    <span class="text-gray-600">(Current)</span>
                  {% endif %}
                </span>
              </label>
            </div>
          </div>
        </form>
      </div>
      
      <div class="modal__footer">
        <button class="btn btn--ghost" onclick="closeCategoryChangeModal()">Cancel</button>
        <button class="btn btn--primary" onclick="submitCategoryChange()">
          Confirm Change
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function showCategoryChangeModal() {
    var modal = document.getElementById('category-change-modal');
    modal.className = "modal modal-default show";
  }
  
  function closeCategoryChangeModal() {
    var modal = document.getElementById('category-change-modal');
    modal.className = "modal modal-default fade";
  }
  
  function submitCategoryChange() {
    var form = document.getElementById('categoryChangeForm');
    var selectedCategory = document.querySelector('input[name="new_category"]:checked');
    
    if (!selectedCategory) {
      alert('Please select a category to change to.');
      return;
    }
    
    // Confirm the change
    var categoryName = selectedCategory.value === 'runner' ? 'Runner' : 'Freestyler';
    if (confirm('Are you sure you want to change to ' + categoryName + '? This can only be done once!')) {
      form.submit();
    }
  }
</script>

{% endblock %}
