{% load static %}
<!doctype html>
<html lang="en" xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
            <head>
                <meta charset="utf-8">
                <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
                <meta name="viewport" content="width=device-width,initial-scale=1">
                 <meta property="og:title" content="Cisco Running 2023"/>
                <meta property="og:type" content="website"/>
                <meta property="og:url" content="https://ciscorunning.xyz"/>
                <meta property="og:description" content="GR Marathon app for Cisco MX"/>
                <meta property="fb:app_id" content="345889214644064"/>
                <meta property="og:image" content="{% static 'img/CR_Logo.png' %}"/>

                <link href="{% static 'css/cui-standard.min.css' %}" rel="stylesheet" type="text/css">
                <link href="{% static 'css/icapp.css' %}" rel="stylesheet" type="text/css">
                <title>Cisco Running 2023</title>
            </head>
            <body class="cui styleguide" onload="wires()">

                <div class="content content--alt">
            
                    <div class="content-fluid">
        <header class="header">
            <div class="container">
                <div class="header-panels">
                    <div class="header-panel">
                        <a class="header__logo" href="http://www.cisco.com" target="_blank">
                            <span class="icon-cisco"></span>
                                </a>
                        <div class="header__title">Cisco Running 2023</div>
                    </div>
                    <div class="header-panel header-panel--right">
                            <img src="{% static 'img/Pavelka.jpg' %}" class="content-fluid" width="48px;" height="48px"/>
                        </div>
                </div>
            </div>
        </header>

        <div class="content">
                <div class="container-fluid">
                    <div class="section">
        {% block content %}
        {% endblock %}

    </div></div></div>

</body>

</html>